<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
  </nav>

  <div class="sidebar-item">
    <p>
      <a href="mailto:byd0105@outlook.com"><img src="https://camo.githubusercontent.com/63d5e88cb9e4747065f20b7d279043ce0d0629824927c2d835af1db02a545efb/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f62796430313035406f75746c6f6f6b2e636f6d2d3041363643323f7374796c653d666c61742d737175617265266c6f676f3d4d6963726f736f6674204f75746c6f6f6b266c6f676f436f6c6f723d7768697465" data-canonical-src="https://img.shields.io/badge/byd0105@outlook.com-0A66C2?style=flat-square&amp;logo=Microsoft Outlook&amp;logoColor=white" style="max-width: 100%;"></a>
    </p>
    
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
